<footer class="footer">
	<div class="container footer__container flex">
		{{ partial "footer_links.html" . }}
		<div class="footer__copyright">
			&copy; {{ now.Format "2006" }} {{ .Site.Params.copyright | default .Site.Title }}.
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.min.js"></script>
	<script type="module">
	import mermaidJslayoutElk from 'https://cdn.jsdelivr.net/npm/@mermaid-js/layout-elk@0.2.0/+esm'
	</script>
	<script>
	document.addEventListener("DOMContentLoaded", () => {
		mermaid.initialize({ startOnLoad: true });
	});
	</script>
</footer>